:root {
  --white-color: #ffffff;
  --black-color: #000;
  --light-green-color: #24cca7;
  --light-green-hover-color: #24e6bb;
  --grey-color: #bdbdbd;
  --light-grey-color: #e0e0e0;
  --blue-color: #4a56e2;
  --blue-hover-color: #2834b9;
  --ping-color: #ff6596;

  /* category */
  --category-basic-expenses-color: #fed057;
  --category-products-color: #ffd8d0;
  --category-car-color: #fd9498;
  --category-self-care-color: #c5baff;
  --category-child-care-color: #6e78e8;
  --category-household-products-color: #4a56e2;
  --category-education-color: #81e1ff;
  --category-leisure-color: #24cca7;
  --category-other-expenses-color: #00ad84;

  --cubic: 250ms cubic-bezier(0.8, 0.4, 0.3, 0.9);
}

/* section {
  background-color: var(--black-color);
} */
